
.bgimg{
    height: 300px;
    background: url(../img/group.gif) no-repeat center 0;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.infor{
    background-color: #f7f5f4;
    padding: 58px 0 70px;
}
.main .title{
    border-bottom: 1px solid #dbd4cd;
    padding-bottom: 12px;
}
.main .title h2{
    float: left;
    color: #f99d33;
    font-size: 28px;
    line-height: 40px;
}
.main .title .right{
    padding-top: 17px;
    color: #575656;
    font-size: 14px;
}
.main .title .right a{
    color: #333;
    font-size: 14px;
}
.main .title .right a:hover{
    color: #f98b0c;
}
.main .content{
    margin: 38px 15px 0;
    font-size: 14px;
}
.main .content ul{
    height: 180px;
    width: 220px;
    padding: 0 10px;
    border-right: 1px dashed #dbd4cd;
    height: 180px;
    margin-bottom: 20px;
}
.main .content ul:nth-of-type(4n){
    padding-right: 0;
    border: none;
}
.main .content ul li a{
    color: #f98b0c;
}
.main .content ul li{
    margin-bottom: 2px;
}
.main .content ul li:first-of-type {
    margin-bottom: 10px;
    color: #6c5a54;
    font-weight: bold;
}
.main .content ul li:first-of-type a{
    color: #6c5a54;
    font-weight: bold;
}
.main .content ul li:hover a{
    color: #000;
}
